@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark /* --prefersdark;*/;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@theme {
  --color-primary: #3655c7;
  --color-primary-dark: #293d87;
  --color-secondary: #78e9f3;
  --color-tertiary: #314158;
  --color-tertiary-light: #4c658a;

  --color-header: #5fb3bb;
  --color-tabletitle: #858480;
}

.custom-container {
  @apply max-w-[1270px] w-[90];
  @apply mx-auto;
}

.header {
  @apply flex items-center justify-between;
  @apply bg-header shadow-lg;
  @apply py-4 px-6 ml-[-60px];
}

.h1-header {
  @apply text-3xl text-tertiary font-bold ml-20;
}

.icon-header {
  @apply text-4xl text-secondary mr-3;
}